*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: normal;   
    font-size: 13px;
    line-height: 1.2;
    color: #2C2C2C;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

ul, ol {
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: .3s;
    color: #000;
}

.wrapper {
    overflow: hidden;
    background-color: #E5E5E5;
}

.container {
    max-width: 1336px;
    padding: 0 15px;
    margin: 0 auto;
}