.btn {
    border: 1px solid #18A0FB;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    height: 37px;
    background-color: #18A0FB;
    text-align: center;
    color: #fff;
    padding: 9px 125px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        
    }

    &:active {
        background-color: #fff;
        color: #2C2C2C;
    }
}