label {
    display: inline-block;
}

input, textarea, select {
    font-family: 'Inter', Arial, Helvetica, sans-serif ;
    display: block;
    width: 100%;
    height: 37px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    font-size: 13px;
    padding: 0 12px;
    outline: none;
    transition: all .3s;
}


input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//     display: none;
//     -webkit-appearance: none;
// }

input::placeholder
textarea::placeholder {
    color: rgba(44, 44, 44, 0.5);
}

// ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
// ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
// ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
//     color: transparent;
// }

// input[type=date]::-webkit-datetime-edit-text {
//     -webkit-appearance: none;
//     display: none;
// }
// input[type=date]::-webkit-datetime-edit-month-field{
//     -webkit-appearance: none;
//     display: none;
// }
// input[type=date]::-webkit-datetime-edit-day-field {
//     -webkit-appearance: none;
//     display: none;
// }
// input[type=date]::-webkit-datetime-edit-year-field {
//     -webkit-appearance: none;
//     display: none;
// }